<template>
    <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h1 class="text-dark">Choose Plans</h1>
                    <form action="/subscriptions" method="post" >
                        <div class="form-group">
                            <input type="hidden" name="stripeToken" v-model="stripeToken"/>
                            <input type="hidden" name="stripeEmail" v-model="stripeEmail"/>
                            <select name="plan" v-model="plan" class="form-control">
                                <option v-for="plan in plans" :value="plan.id" :key="plan.id">
                                    {{ plan.name }} &mdash; ${{ plan.price / 100}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="coupon" placeholder="Have a coupon code?" class="form-control" v-model="coupon"></input>
                        </div>
                        <button type="submit" @click.prevent="subscribe" class="btn btn-primary mt-2">Subscribe</button>
                        <p class="help is-danger" v-show="status">{{ status }}</p>
                    </form>
                </div>
            </div>
        </div>
</template>

<script>
    export default {
        props: ['plans'],
        data() {
            return {
                stripeEmail: '',
                stripeToken: '',
                plan: 1,
                status: false,
                coupon: ''
            };
        },
        created(){
            this.stripe = StripeCheckout.configure({
                key: Laracasts.stripeKey,
                image: "https://stripe.com/img/documentation/checkout/marketplace.png",
                locale: "auto",
                panelLabel: "Subscribe For",
                email: Laracasts.user.email,
                token: ( token ) =>{
                    this.stripeToken = token.id;
                    this.stripeEmail = token.email;
                    axios.post('/subscriptions', this.$data)
                    .then(
                        response => {
                            this.status = response.data.status,
                            console.log(response.data)
                            // alert('Completed! Thanks for your payment!')
                        }

                    ).catch(({response}) => {
                        this.status = response.data.status;
                    });
                }

            });
        },
        methods: {
            subscribe() {
                let plan = this.findPlanById(this.plan);

                this.stripe.open({
                    name: plan.name ,
                    description: plan.name,
                    zipCode: true,
                    amount: plan.price
                });

            },

            findPlanById(id) {
                return this.plans.find( plan => plan.id == id);
            }
        }
    }
</script>
